{% extends "main.jinja" %}
{% block title %}about{% endblock title %}
{% block body %}

<div>
  <h2>pbm</h2>
  <p>python bookmarks manager</p>
  <ul>
    <li>Source: <a href="https://github.com/westurner/pbm">https://github.com/westurner/pbm</a></li>
    <li>PyPI: <a href="https://pypi.python.org/pypi/pbm">https://pypi.python.org/pypi/pbm</a></li>
  </ul>

  <h2>brw</h2>
  <ul>
    <li>Source: <a href="https://github.com/westurner/brw">https://github.com/westurner/brw</a></li>
    <li>Homepage: <a href="https://westurner.org/brw/">https://westurner.org/brw/##https://github.com/westurner/brw</a></li>
    <li>Demo: <a href="https://westurner.org/brw/">https://westurner.org/brw</a></li>
  </ul>

  <h2>tornado</h2>
  <ul>
    <li>Source: <a href="https://github.com/tornadoweb/tornado">https://github.com/tornadoweb/tornado</a></li>
    <li>Docs: <a href="https://tornado.readthedocs.org/en/latest/">https://tornado.readthedocs.org/en/latest/</a></li>
  </ul>

  <h2>jinja_tornado</h2>
  <ul>
    <li>Source: <a href="https://github.com/thkang2/jinja_tornado">https://github.com/thkang2/jinja_tornado</a></li>
  </ul>

  <h2>jinja</h2>
  <ul>
    <li>Source: <a href="https://github.com/mitsuhiko/jinja2">https://github.com/mitsuhiko/jinja2</a></li>
    <li>Docs: <a href="https://jinja2.readthedocs.org/en/latest/">https://jinja2.readthedocs.org/en/latest/</a></li>
  </ul>

  <h2>jquery</h2>
  <ul>
    <li>Source: <a href="https://github.com/jquery/jquery">https://github.com/jquery/jquery</a></li>
    <li>Docs: <a href="https://api.jquery.com">https://api.jquery.com/</a></li>
  </ul>

  <h2>jquery-boilerplate</h2>
  <ul>
    <li>Source: <a href="https://github.com/jquery-boilerplate/jquery-boilerplate">https://github.com/jquery-boilerplate/jquery-boilerplate</a></li>
    <li>Docs: <a href="https://github.com/jquery-boilerplate/jquery-boilerplate/wiki">https://github.com/jquery-boilerplate/jquery-boilerplate/wiki</a></li>
  </ul>

  <h2>chromium</h2>
  <ul>
    <li>Source: <a href="https://chromium.googlesource.com/chromium/src">https://chromium.googlesource.com/chromium/src</a></li>
    <li>Homepage: <a href="https://www.chromium.org/developers">https://www.chromium.org/developers</a></li>
  </ul>

</div>
{% endblock body %}
