{#
bookmarks_tree_partial.jinja: Recursive HTML+RDFa bookmarks JSON tree template
<h1>bookmarks_dict</h1>
<textarea style="width:80%; margin: 0 auto; word-wrap: break-word;">
{{ bookmarks.bookmarks_dict }}
</textarea>
#}
<ul class="bookmarks_tree"
xmlns:schema="http://schema.org/"
xmlns:pb="#"
about="#000"
typeof="pb:BookmarksTree">
{%- set roots=bookmarks.bookmarks_dict['roots'] %}
{%- set folder_keys = roots.keys() | list %}
{%- set _ = (('bookmark_bar' in folder_keys)
          and folder_keys.remove('bookmark_bar')
          or folder_keys.insert(0, 'bookmark_bar')) %}
{%- for fldr_key in folder_keys %}
{%- set fldr_path=['000', roots[fldr_key]] %}
{%- set fldr=fldr_path[-1] %}
{%- macro folder_start(fldr, fldr_path) %}id="b-{{ fldr['id'] }}"
    class="folder"
    typeof="pb:Folder"
    about="#{{ fldr["id"] }}"><span property="schema:name">{{ fldr["name"] }}</span>
    <meta property="pb:id" content="{{ fldr.id }}" datatype="xsd:integer" />
    <meta property="pb:type" content="{{ fldr.type }}"/>
    {%- set dm = format_longdate(fldr.date_modified) %}
    {%- if dm %}
    <meta property="schema:modified" content="{{ dm }}" datatype="xsd:dateTime"/>
    <meta property="pb:date_modified" content="{{ fldr['date_modified'] }}" datatype="xsd:integer"/>
    {%- endif %}
    <meta property="schema:added" content="{{ format_longdate(fldr.date_added) }}" datatype="xsd:dateTime"/>
    <meta property="pb:date_added" content="{{ fldr['date_added'] }}" datatype="xsd:integer"/>
    <link rel="pb:parent" src="#{{ fldr_path[-1]['id'] }}" /> <!-- NOTE this is XXX -->
    <link rev="pb:children" src="#{{ fldr_path[-1]['id'] }}" /> <!-- NOTE this is XXX -->
{%- endmacro %}
  <li {{ folder_start(fldr, fldr_path) }}
  <ul class="folder {{ fldr.type }}">
  {%- for node in roots[fldr_key]['children'] recursive %}
    {%- if node['type'] == 'folder' %}
      <li {{ folder_start(node, fldr_path) }}
        {%- if node['children'] %}
          {% set _ = fldr_path.append(node) %}
          <ul class="folder">{{ loop(node['children']) }}</ul>
          {% set _ = fldr_path.pop() %}
        {%- endif %}
      </li>
    {%- elif node['type'] == 'url' %}
      {%- macro url_start(node, fldr_path) %}id="b-{{ node.id }}" class="bookmark {{ node.type }}" about="#{{ node["id"] }}" typeof="pb:URL">
        <meta property="pb:id" content="{{ node.id }}" datatype="xsd:integer" />
        <meta property="pb:type" content="{{ node.type }}"/>
	<span class="brwlink"><a target="_brw" href="/brw##{{ node.url }}">##</a></span>
        <span class="bracket">[</span><span class="b-name"
            property="schema:name"><a href="{{ node.url }}" title="{{ node.url }}" target="_blank">{{ node.name }}</a></span><span class="bracket">]</span
            ><span class="bracket">(</span><span class="b-url"><a
          property="schema:url"
          href="{{ rdf_uri_escape(node['url']) }}" title="{{ node.name }}" target="_blank">{{ rdf_uri_escape(node['url']) }}</a></span><span class="bracket">)</span>
        <meta property="pb:url" content="{{ node['url'] }}" />
        {%- set dm = format_longdate(node.date_modified) %}
        {%- if dm %}
        <meta property="schema:modified" content="{{ dm }}" datatype="xsd:dateTime"/>
        <meta property="pb:date_modified" content="{{ node['date_modified'] }}" datatype="xsd:integer"/>
        {%- endif %}
        <meta property="schema:added" content="{{ format_longdate(node.date_added) }}" datatype="xsd:dateTime"/>
        <meta property="pb:date_added" content="{{ node['date_added'] }}" datatype="xsd:integer"/>
        <link rel="pb:parent" src="#{{ fldr_path[-1]['id'] }}" /> <!-- NOTE this is XXX -->
        <link rev="pb:children" src="#{{ fldr_path[-1]['id'] }}" /> <!-- NOTE this is XXX -->
      {%- endmacro %}
     <li {{ url_start(node, fldr_path) }}
     </li>
    {%- endif %}
  {%- endfor %}
  </ul>
 </li>
{%- endfor %}
</ul>
