
{% extends "main.jinja" %}
{% block title %}search{% endblock title %}
{% block body %}
{% include 'bookmarks_search_partial.jinja' %}
{% include 'bookmarks_list_partial.jinja' %}
{% endblock body %}
